# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/build
/out

# IDEs and editors
/.idea
.project
.classpath


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
venv

# System Files
.DS_Store
Thumbs.db
